<h1>Total price - {{totalPrice}}$</h1>

<div class="books">
    {{#if books}}
    <div class="row">
        {{#each books}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src={{img}} alt={{img}}>
                    <span class=" card-title" style="color: black;">{{name}} - {{price}}$</span>
                </div>
                <div class="card-content">
                    <p>{{year}}</p>
                </div>
                <div class="card-action">
                    <a class="btn btn-danger" href="/korzina/book/{{id}}/false" style="background: red;">Remove from
                        korzina</a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>Books are empty</h2>
    {{/if}}
</div>